:root {
  --whitecolor: rgb(255 255 255);
  --blackcolor: rgb(0 0 0);
  --backcolor: rgb(128, 122, 115);
  --headingcolor: rgb(159, 212, 78);
  --h1_font: 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gray-font-color {
  color: var(--backcolor);
}

.black-font-color {
  color: var(--blackcolor);
}

.Green-font-color {
  color: var(--headingcolor);
}

h1 {
  font-size: 2rem;
}

.center-text {
  text-align: center;
}

.justify-text {
  text-align: justify;
}

body {
  font-family: Poppins;
  background-color: #f6f6f4;
  color: var(--whitecolor);
}

.button, .button3, .button2, .button1 {
  border: none;
  color: white;
  padding: 13px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}

.button1 {
  background-color: var(--headingcolor);
}

.button2 {
  background-color: var(--backcolor);
}

.button3 {
  border-radius: 5px;
  background-color: var(--headingcolor);
}

.navbar {
  display: flex;
  background-color: var(--whitecolor);
  justify-content: space-around;
  padding: 2% 0 0% 0;
}
.navbar img {
  height: 50px;
}
.navbar .navbar-logo {
  flex: 20%;
  padding-left: 10%;
}
.navbar .navbar-link {
  flex: 80%;
  padding-left: 22%;
}
.navbar .navbar-link a {
  font-size: 1rem;
  color: #807a73;
  padding: 32px 30px;
  text-decoration: none;
  text-align: center;
}
.navbar .navbar-link a:hover {
  color: var(--blackcolor);
  border-bottom: 2px solid var(--blackcolor);
}
.navbar .navbar-link .active {
  color: var(--blackcolor);
  border-bottom: 2px solid var(--blackcolor);
}

.header {
  display: flex;
}
.header .header-left {
  flex: 50%;
  border: 1px solid --whitecolor;
  border-radius: 0 0 5% 0;
  background-color: var(--whitecolor);
  text-align: center;
}
.header .header-left h1 {
  margin: 25% 0 0 0%;
  font-size: var(--h1_font);
  color: var(--backcolor);
}
.header .header-left p {
  color: var(--blackcolor);
  margin: 2% 10% 15% 10%;
}
.header .header-right {
  flex: 50%;
}
.header .header-right img {
  height: auto;
  width: 100%;
}

.row1 {
  display: flex;
  margin-top: 10%;
}
.row1 .row1-side1 {
  flex: 5%;
}
.row1 .row1-side2 {
  flex: 40%;
}
.row1 .row1-side2 img {
  width: 100%;
  border-radius: 0 5% 5% 5%;
  height: auto;
}
.row1 .row1-side3 {
  flex: 10%;
}
.row1 .row1-side4 {
  flex: 40%;
  text-align: justify;
  color: var(--blackcolor);
}
.row1 .row1-side4 p {
  text-align: justify;
}
.row1 .row1-side4 ul {
  text-align: justify;
  list-style-type: disc;
  list-style-position: inside;
}
.row1 .row1-side4 li::marker {
  color: var(--headingcolor);
}
.row1 .row1-side5 {
  flex: 5%;
}

.row2 {
  display: flex;
  margin-top: 10%;
}
.row2 .row2-side1 {
  flex: 5%;
}
.row2 .row2-side2 {
  flex: 40%;
  color: var(--blackcolor);
}
.row2 .row2-side2 p {
  text-align: justify;
}
.row2 .row2-side2 ul {
  text-align: justify;
  list-style-type: disc;
  list-style-position: inside;
}
.row2 .row2-side2 li::marker {
  color: var(--headingcolor);
}
.row2 .row2-side3 {
  flex: 10%;
}
.row2 .row2-side4 {
  flex: 40%;
}
.row2 .row2-side4 img {
  width: 100%;
  border-radius: 0 5% 5% 5%;
  height: auto;
}
.row2 .row2-side5 {
  flex: 5%;
}

footer {
  background-color: var(--whitecolor);
}
footer .row7 {
  display: flex;
  text-align: center;
}
footer .row7-side1 {
  flex: 5%;
}
footer .row7-side2 {
  flex: 30%;
  padding: 35px 0 20px;
  border-bottom: 1px solid #f2ece6;
}
footer .row7-side3 {
  flex: 30%;
  padding: 35px 0 20px;
  border-bottom: 1px solid #9fd44e;
}
footer .row7-side4 {
  flex: 30%;
  padding: 35px 0 20px;
  border-bottom: 1px solid #f2ece6;
}
footer .row7-side5 {
  flex: 5%;
}
footer .row8 {
  display: flex;
  text-align: center;
}
footer .row8 .row8-side1 {
  flex: 40%;
}
footer .row8 .row8-side2 {
  flex: 20%;
}
footer .row8 .row8-side2 img {
  width: 100%;
  height: auto;
}
footer .row8 .row8-side3 {
  flex: 40%;
}
footer .row9 {
  display: flex;
  margin-top: 2%;
}
footer .row9 .row9-side1 {
  flex: 20%;
}
footer .row9 .row9-side2 {
  flex: 80%;
  text-align: center;
}
footer .row9 .row9-side3 {
  flex: 20%;
}
footer .row10 {
  margin-top: 2%;
  display: flex;
}
footer .row10 .row10-side1 {
  flex: 20%;
}
footer .row10 .row10-side2 {
  flex: 80%;
  text-align: center;
}
footer .row10 .row10-side3 {
  flex: 20%;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 575px) {
  .navbar {
    display: none;
  }
  .header {
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }
  .header .header-left {
    order: 2;
  }
  .header .header-left h1 {
    margin: 0;
  }
  .header .header-left p {
    margin: 2% 5% 10% 5%;
    text-align: justify;
  }
  .header .header-right {
    order: 1;
  }
  .row1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .row1 .row1-side2,
  .row1 .row1-side4 {
    padding: 0 5% 0 5%;
  }
  .row1 .row1-side4 > h1 {
    text-align: center;
  }
  .row2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .row2 .row2-side2 {
    padding: 0 5% 0 5%;
  }
  .row7 {
    flex-direction: column;
    align-items: center;
    text-align: justify;
  }
}
/* Media Query for low resolution  Tablets, Ipads */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .navbar {
    display: none;
  }
}
/* Media Query for Tablets Ipads portrait mode */
@media screen and (min-width: 768px) and (max-width: 992px) {
  .navbar {
    display: none;
  }
}
@media (max-width: 1200px) {
  .navbar {
    display: none;
  }
}/*# sourceMappingURL=investment.css.map */